@import "../../../media";

.team {
  width: 100%;
  padding: 0 0 30px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px -5px 12.09px 0.91px rgba(26, 29, 80, 0.04);
  @include media($tablet_semiMedium){
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0;
    @include media($laptop_small) {
      padding: 180px 0 240px;
      width: 100%;
      min-width: inherit;
    }
    @include media($tablet_semiMedium){
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 70px 30px 24px;
      box-sizing: border-box;
      width: 100%;
    }
  }
  .circles {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);

    @include media($desktop_middle) {
      width: 800px;
      height: 800px;
    }
    @include media($laptop_small){
      display: none;
      left: 50%;
      width: 740px;
      height: 740px;
      transform: translateX(-50%) translateY(-50%);
    }
    @include media($tablet_semiMedium){
      display: none;
    }
    &.circles_mobile{
      display: none;
      @include media($laptop_small){
        display: block;
      }
      @include media($tablet_semiMedium){
        display: none;
      }
    }
  }
  .right-side {
    width: 65%;
    max-width: 951px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media($laptop_small) {
      width: 50%;
      max-width: inherit;
      justify-content: flex-start;
      left: 40px;
    }
    @include media($tablet_semiMedium){
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      left:0;
      max-width: inherit;
      min-width: inherit;
    }
    .squares {
      max-width: 646px;
      position: relative;
      z-index: 3;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include media($laptop_small) {
        justify-content: center;
      }
    }
    .square {
      width: calc(50% - 28px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 14px;
      @include media($desktop) {
        width: calc(50% - 28px);
        max-width: 320px;
      }
      @include media($laptop_small) {
        margin: 0;
        width: 100%
      }
      @include media($tablet_semiMedium){
        width: 100%;
        min-width: 300px;
        max-width: 300px;
        margin: auto;
        margin-bottom: 32px;
      }
      &-content {
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
        display: flex;
        border-radius: 5px;
        padding: 45px 17px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @include media($laptop_small) {
          max-width: 300px;
          box-shadow: none;
          border: 1px solid #e3e9f3;
        }
        .icon {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 38px;
          img {
            width: 136px;
            height: auto;
          }
        }
        .name {
          font-size: 1.75rem;
          font-weight: 700;
          color: #021d38;
          margin: 0 auto;
          margin-bottom: 10px;
          text-align: center;
        }
        .position {
          font-size: 1.166rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #7287ad;
          margin: 0 auto;
          margin-bottom: 31px;
          letter-spacing: 1.4px;
          text-align: center;
        }
        .description {
          margin: 0;
          font-size: 1.1rem;
          font-weight: 500;
          color: #7287ad;
          margin-bottom: 5px;
          line-height: 1.78;
          letter-spacing: 1.2px;
          text-align: center;
        }
        .social {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          right: 26px;
          top: 32px;
          &_link {
            a {
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              border-radius: 50%;
              margin: 4.5px 0;
              &:first-child{
                margin: 0 0 4.5px;
              }
              i {
                color: #b9c7e0;
                font-size: 1.35rem;
              }
            }
            &:hover {
              a {
                i {
                  color: #28dff8;
                }
              }
            }
          }
        }
        &:hover {
          background-image: -moz-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
          background-image: -webkit-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
          background-image: -ms-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
          .name {
            color: #ffffff;
          }
          .position {
            color: #fff;
          }
          .description {
            color: #ffffff;
          }
          .social {
            &_link {
              a {
                i {
                  color: #fff
                }
                &:hover {
                  i {
                  color: #28dff8;
                  }
                }
              }
            }
          }
        }
      }

    }
  }
  .left-side {
    width: 33%;
    max-width: 490px;
    @include media($laptop_small) {
      width: 50%;
      max-width: inherit;
      z-index: 2;
      position: relative;
      left: 50px;
      padding-right: 45px;
      box-sizing: border-box;
    }
    @include media($tablet_semiMedium){
      width: 100%;
      max-width: inherit;
      min-width: inherit;
      left: 0;
      padding: 0;
      margin-bottom: 50px;
    }
    h1 {
      font-size: 3.75rem;
      font-weight: 700;
      color: #081536;
      letter-spacing: -1.2px;
      text-align: left;
      margin: 0;
      margin-bottom: 55px;
      @include media($laptop_small) {
        text-align: left;
      }
      @include media($tablet_semiMedium){
        margin-bottom: 35px;
        font-size: 3rem;
      }
    }
    p {
      font-size: 1.41rem;
      font-weight: 400;
      color: #7287ad;
      line-height: 1.71;
      letter-spacing: 1.2px;
      text-align: left;
      @include media($laptop_small) {
        text-align: left;
      }
    }
  }
  .carousel_navigation{
    bottom: -45px;
    display: none;
    @include media($laptop_small) {
      bottom: -45px;
      display: flex;
    }
    @include media($tablet_semiMedium){
      display: none;
    }
  }
}

