<div class="contact">
    <div class="close_map">
        <span></span>
        <span></span>
    </div>
    <gmap class="google_map" id="google_map"></gmap>
    <div class="left-side">
        <div class="side-bg"></div>
        <div class="container-half container-half-medium">
            <div class="logo">
                <img [src]="appThemeHref + '/assets/images/logo_big-gray.png'">
            </div>
            <h3 class="contact_heading">Get in touch</h3>
            <p class="how-cen-we">How can we <span class="help-you">help you?</span></p>
            <form novalidate
                  [formGroup]="myform" (ngSubmit)="submitForm()">
                <div class="input_group">
                    <label for="contactName">what is your name?</label>
                    <input formControlName="name" id="contactName" type="text" name="name">
                    <p class="error" *ngIf="name.errors?.required && name.dirty">*Name is required</p>
                    <p class="error" *ngIf="name.errors?.minlength && name.dirty">*Name must contain at least 2 chars</p>
                </div>
                <div class="input_group">
                    <label for="contactEmail">your email</label>
                    <input   formControlName="email" id="contactEmail" type="text" name="email">
                    <p class="error" *ngIf="email.errors?.required && email.dirty">*Email is required</p>
                    <p class="error" *ngIf="email.errors?.pattern && email.dirty">*The email address must contain at least the @ character</p>
                </div>
                <div class="input_group">
                    <label for="contactMessage">your message</label>
                    <textarea  formControlName="content" id="contactMessage" type="text" name="message"></textarea>
                    <p class="error" *ngIf="content.errors?.required && content.dirty">*Description is required</p>
                    <p class="error" *ngIf="content.errors?.minlength && content.dirty">*Description must contain at least 8 chars</p>
                </div>
                <div class="input_group">
                    <button class="button" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
    <!--<div class="contact_pin">-->
        <!--<img [src]="appThemeHref + '/assets/images/contact_pin.png'" alt="">-->
    <!--</div>-->
    <div class="middle_circles">
        <img class="nototate" [src]="appThemeHref + '/assets/images/contact_elipses.png'">
        <img class="rotate" [src]="appThemeHref + '/assets/images/contact_stars.png'">

    </div>
    <div class="right-side">
        <div class="side-bg" [ngStyle]=""></div>
        <div class="container-half container-half-medium">
            <div class="social_media" >
                    <a *ngFor="let social of contactInfo.custome_fields.main_social_links" href="{{social.social_link_url}}" target="_blank" rel="nofollow" class="fa {{social.social_link_icon_class}}"></a>
            </div>
            <div class="contact_info">
                <h3>Company info</h3>
                <div class="info">
                    <p *ngFor="let info of contactInfo.custome_fields.company_info"><span>{{info.info_title}}</span> {{info.info_content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="show_map-targe-box"></div>
</div>

