.gallery{
  width: 100%;
  height: 100%;
  display: block;
  background-color: crimson;
  color: teal;
  background-image: url(./assets/images/bacteria-wide.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}