@import "../media";
.contact{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #f6f9fd;
  display: flex;
  justify-content: center;
  @include media($netbook){
    flex-direction: column;
  }
  .left-side{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 80px;
    position: relative;
    z-index: 3;
    transform: translateX(0);
    transition: 1s ease all;
    padding-bottom:196px;
    @include media($netbook){
      width: 100%;
      padding: 80px 50px 90px;
      box-sizing: border-box;
    }
    form{
      @include media($netbook){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    .container-half{
      position: relative;
      z-index: 3;
    }
  }
  .container-half-medium{
    @include media($netbook){
      max-width: inherit;
    }
  }
  .right-side{
    background-image: url(../../images/contact_bg.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 80px;
    transform: translateX(0);
    transition: 1s ease all;
    padding-bottom:196px;
    @include media($netbook){
      width: 100%;
      box-sizing: border-box;
      padding: 100px 50px 60px;
    }
    @include media($tablet_semiMedium){
      padding: 80px 30px 50px;
    }
    .container-half{
      position: relative;
      z-index: 3;
      @include media($netbook){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      @include media($tablet_semiMedium){
        align-items: flex-end;
      }
    }
  }
  .middle_circles{
    position: absolute;
    left: calc(50% + 1px);
    top: 50%;
    width: 1000px;
    height: 1000px;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    @include media($desktop_middle){
      width: 725px;
      height: 725px;
    }
    @include media($netbook){
      display: none;
    }
    circles{
      canvas:first-child{
        opacity: 0.5;
      }
    }

    img{
      width: 100%;
      height: auto;
    }
  }
  .logo{
    width: 153px;
    height: auto;
    margin-bottom: 150px;
    @include media($netbook){
      display: none;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  .contact_heading{
    font-size: 3.75rem;
    color: #081536;
    font-weight: 700;
    letter-spacing: -1.2px;
    margin: 0;
    line-height: 1;
    margin-bottom: 20px;
  }
  .how-cen-we{
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #b9c7e0;
    font-weight: 700;
    margin-bottom: 56px;
    letter-spacing: 1.4px;
    .help-you{
      color: rgb(40, 223, 248);
      text-shadow: 0px 7px 9.3px rgba(40, 223, 247, 0.32);
    }
  }
  .input_group{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 27px;
    @include media($netbook){
      width: 48%;
      &:nth-child(3){
        width: 100%;
      }
      &:last-child{
        margin: 0;
      }
    }
    @include media($tablet_semiMedium){
      width: 100%;
    }
    label{
      color: #081536;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1.4px;
      margin-bottom: 10px;
      text-transform: uppercase;
      &.error{
        font-size: 1rem;
        text-transform: none;
        margin: 10px 0;
        color: #FF0000;
      }
    }
    textarea,
    input{
      width: 100%;
      color: #081536;
      font-size: 1.3rem;
      max-width: 540px;
      font-weight: 500;
      line-height: 1;
      border-radius: 5px;
      background-color: #fff;
      box-sizing: border-box;
      border: none;
      outline: none;
      padding: 17px 15px;
      box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
      @include media($desktop){
        max-width: 430px;
      }
      @include media($tablet_semiMedium){
        width: 100%;
        max-width: inherit;
        min-width: inherit;
      }
      &:active{
        outline: none;
      }
    }
    textarea{
      resize: none;
      height: 158px;
      @include media($netbook){
        width: 100%;
        max-width: 100%;
      }
    }
    button{
      font-weight: 700;
      color: #fff;
      background-color: #767ff5;
      width: 211px;
      padding: 18px 30px;
      box-sizing: border-box;
      border-radius: 30px;
      box-shadow: 0 1px 12.09px 0.91px rgba(26, 29, 80, 0.13);
      @include media($netbook){
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -120px;
      }
      &::after,
      &::before{
        display: none;
      }
    }
  }
  .right-side{
    .social_media{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      color: #fff;
      flex-direction: column;
      margin-bottom: 114px;
      @include media($netbook){
        margin-bottom: 0;
      }
      a{
        margin: 10px 12px;
        line-height: 1;
        opacity: 0.5;
        font-size: 1.3rem;
        color: #fff;
        text-decoration: none;
        &:hover{
          opacity: 1;
        }
      }
    }
    .contact_info{
      h3{
        font-size: 2rem;
        color: #fff;
        line-height: 1;
        text-align: right;
        margin: 0;
        font-weight: 700;
        margin-bottom: 30px;
        opacity: 0.5;
        @include media($netbook){
          text-align: left;
        }
      }
      .info{
        display: flex;
        color: #fff;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
        margin: 0;
        line-height: 1;
        margin-bottom:24px;
        font-size: 1.35rem;
        font-weight: 400;
        @include media($netbook){
          justify-content: flex-start;
          align-items: flex-start;
        }
        @include media($tablet_semiMedium){
          text-align: left;
          font-size: 1.45rem;
          line-height: 2.29;
        }
        p{
          @include media($netbook){
            margin: 0;
            margin-bottom:22px;
          }
          @include media($tablet_semiMedium){
            margin-bottom:2px;
          }
        }
        span{
          opacity: 0.5;
          font-weight: 500;
          @include media($netbook){
            color: #92d5f6;
            opacity: 1;
            font-weight: 400;
          }
        }

      }
    }
  }
  .contact_pin{
    position: absolute;
    left: 50%;
    top: calc(50% + 1px);
    transform: translateX(-50%) translateY(-50%);
    height: auto;
    margin: auto;
    width: 4%;
    z-index: 6;
    img{
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  .show_map-targe-box{
    width: 65px;
    height: 65px;
    z-index: 125;
    position: absolute;
    left:0;
    right:0;
    cursor: pointer;
    top:0;
    bottom:0;
    margin: auto;
  }
  .close_map{
    position: absolute;
    right:20px;
    top: 20px;
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    border-radius: 50%;
    background-color: #378df2;
    span{
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin: auto;
      width: 60%;
      height: 3px;
      background-color: #fff;
      transform-origin: center;
      border-radius: 5px;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
  .google_map{
    display: none;
  }
  &.show_map{
    .left-side{
      transform: translateX(-100%);
    }
    .right-side{
      transform: translateX(100%);
    }
    .google_map{
      display: block;
      opacity: 1;
      z-index: 1;
    }
    .close_map{
      opacity: 1;
      z-index: 5;
    }
  }
  #google_map{
    position: absolute !important;
    width: 100%;
    height: 100%;
  }
}