<nav-section></nav-section>
<div class="body-elements">
<header-section></header-section>
<services-section id="services"></services-section>
<team-section id="team"></team-section>
<project-section id="case-study"></project-section>
<div class="common_news-bg">
<news></news>
<clients-partners></clients-partners>
</div>
<contact></contact>
<get-an-estimate></get-an-estimate>
</div>
    <!--<img style="display: none;" id="smallTreangle" src="{{appThemeHref}}/assets/images/treangle.png">-->
<!--<img style="display: none;" id="smallCircle" src="{{appThemeHref}}/assets/images/circle.png">-->