@import "../../../media";

.news {
  overflow: hidden;
  padding: 392px 0;
  //background-color: #fdfdff;
  @include media($tablet_semiMedium) {
    padding: 60px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include media($tablet_semiMedium) {
      padding: 0 30px;
      box-sizing: border-box;
      width: 100%;
    }
    @include media($tablet_semiMedium) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .circles {
      width: 1000px;
      height: 1000px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;
      transform: translateX(-50%) translateY(-50%);
      @include media($desktop_middle) {
        transform: translateX(-50%) translateY(-50%);
        width: 740px;
        height: 740px;
      }
      @include media($laptop) {
        left: 60%;
      }
      @include media($laptop_small) {
        display: none;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      @include media($tablet_semiMedium) {
        display: none;
      }
      &.circles_mobile {
        display: none;
        @include media($laptop_small) {
          display: block;
        }
        @include media($tablet_semiMedium) {
          display: none;
        }
      }
    }
    .left-side {
      width: 33%;
      position: relative;
      z-index: 3;
      max-width: 490px;
      @include media($laptop_small) {
       width: 50%;
        max-width: inherit;
        margin-bottom: 40px;
        left: 30px;
      }
      @include media($tablet_semiMedium) {
        left: 0;
        width: 100%;
        min-width: inherit;
        max-width: inherit;
        margin-bottom: 45px;
      }
      h1 {
        font-size: 3.75rem;
        font-weight: 700;
        color: #081536;
        letter-spacing: -1.2px;
        text-align: left;
        margin: 0;
        position: relative;
        z-index: 2;
        margin-bottom: 55px;
        @include media($laptop_small) {
          text-align: left;
        }
        @include media($tablet_semiMedium) {
          margin-bottom: 32px;
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.41rem;
        font-weight: 400;
        color: #7287ad;
        line-height: 1.71;
        position: relative;
        z-index: 2;
        letter-spacing: 1.2px;
        text-align: left;
        margin: 0;
        margin-bottom: 65px;
        @include media($laptop_small) {
          text-align: left;
        }
        @include media($tablet_semiMedium){
          margin-bottom:0;
        }
      }
    }
    .right-side {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 55%;
      position: relative;
      z-index: 3;
      max-width: 825px;
      @include media($laptop_small) {
        left: 50px;
      }
      @include media($tablet_semiMedium) {
        left: 0;
        width: 100%;
        min-width: inherit;
        max-width: inherit;
      }
      .news-slides {
        min-width: inherit;
        width: 100%;
        position: relative;
        @include media($desktop_middle) {
          min-width: inherit;
          width: 100%;
        }
        @include media($tablet_semiMedium) {
          width: 100%;
          max-width: inherit;
          min-width: inherit;
        }
        .owl-item {
          @include media($tablet_semiMedium) {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .owl-item {
            width: 100%;
            max-width: 386px;
            height: 552px;
            position: relative;
            border-radius: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            cursor: pointer;
            @include media($laptop_small) {
              width: 100%;
              height: 375px;
            }
            @include media($tablet_semiMedium) {
              width: 100%;
              max-width: 320px;
              margin: auto;
            }
            .item-gradient {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 100%;
              z-index: 2;
              height: 100%;
              background-image: -moz-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(79, 113, 253) 100%);
              background-image: -webkit-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(79, 113, 253) 100%);
              background-image: -ms-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(79, 113, 253) 100%);
              &-hover {
                background-image: -moz-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(111, 81, 254) 100%, rgb(111, 81, 254) 100%);
                background-image: -webkit-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(111, 81, 254) 100%, rgb(111, 81, 254) 100%);
                background-image: -ms-linear-gradient(-120deg, rgba(40, 155, 249, 0) 0%, rgb(111, 81, 254) 100%, rgb(111, 81, 254) 100%);
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                transition-delay: 0.145s;
                transition: 0.4s ease all;
                left: 0;
                margin: auto;
                width: 100%;
                height: 100%;
              }
            }
            .content {
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 3;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              border-radius: 5px;
              flex-direction: column;
              padding: 63px 37px;
              color: #fff;
              overflow: hidden;
              box-sizing: border-box;
            }
            h4 {
              font-size: 2.83rem;
              line-height: 1.176;
              color: #fff;
              font-weight: 700;
              text-align: left;
              margin: 0;
              margin-bottom: 11px;
            }
            .date {
              text-transform: capitalize;
              letter-spacing: 1.4px;
              font-size: 1.66rem;
              opacity: 0.6;
              margin: 0;
              font-weight: 400;
            }
            .read-more {
              margin-top: 29px;
              text-decoration: none;
              color: #fff;
              line-height: 1;
              font-size: 1.5rem;
              opacity: 0;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: 500;
              transition: 0.4s ease all;
              transition-delay: 0.145s;
              margin-bottom: -47px;
              span {
                margin-left: 10px;
                position: relative;
                width: 12px;
                display: block;
                height: 10px;
                &::before,
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 2px;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  background: #fff;
                  transform-origin: right;
                  border-radius: 5px;
                }
                &::before {
                  transform: rotate(-40deg);
                  bottom: 1px;
                }
                &::after {
                  transform: rotate(40deg);
                  top: 1px;
                }
              }
            }
            &:hover {
              .item-gradient-hover {
                opacity: 1;
                transition-delay: 0s;
              }
              .content {
                .read-more {
                  opacity: 1;
                  transition-delay: 0s;
                  margin-bottom: 0;
                }
              }
            }
            @include media($tablet_semiMedium) {
              .content {
                .read-more {
                  opacity: 1;
                  transition-delay: 0s;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .active {
      }
    }
  }
  .go-toButton {
    .button {
      width: auto;
      &::after,
      &::before {
        display: none;
      }
      span {
        background-color: #767ff5;
        color: #fff;
        font-weight: 700;
        max-width: 215px;
        padding: 20px 0;
        box-sizing: border-box;
        width: auto;
        box-shadow: 0 1px 12.09px 0.91px rgba(26, 29, 80, 0.13);
        &::after,
        &::before {
          display: none;
        }
      }

    }
  }

  .owl-carousel .owl-stage-outer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include media($tablet_semiMedium) {
      position: relative;
      left: 0;
      transform: none;
    }
  }
  .owl-dots{
    display: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 41px auto;
    @include media($tablet_semiMedium) {
      display: flex;
    }
    .owl-dot{
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: auto 10px;
      background-color: #665bf2;
      opacity: 0.5;
      &.active{
        opacity: 1;
      }
    }
  }
}