<div class="gallery">
    <h2> Gallery heading</h2>
    <div class="gallery_thumbs">
        <div class="gallery_thumb">1</div>
        <div class="gallery_thumb">2</div>
        <div class="gallery_thumb">3</div>
        <div class="gallery_thumb">4</div>
        <div class="gallery_thumb">5</div>
        <div class="gallery_thumb">6</div>
        <div class="gallery_thumb">7</div>
        <div class="gallery_thumb">8</div>
        <div class="gallery_thumb">9</div>
    </div>
</div>
