<div class="clientspartners">
    <div class="container container-medium">
        <h2 class="heading">Clients & Partners</h2>
        <div class="clientspartners_items">
            <owl-carousel class="clientspartners-carousel" [options]="carouselOptions" [destroyWindowSize]="destroyWindowSize">
                <div class="owl-carousel">
                    <div  class="item_pairs_wrapp"
                         *ngFor="let client of clientspartners">
                         <!--*ngFor="let client of clientspartners | objectPairs: 2">-->
                        <!--<a [href]="client[0].url" class="clientspartners_item"-->
                           <!--[alt-image]="appThemeHref + client[0].altlogo">-->
                            <!--<img [src]="appThemeHref + client[0].logo">-->
                        <!--</a>-->
                        <!--<a [href]="client[1].url" class="clientspartners_item"-->
                           <!--[alt-image]="appThemeHref + client[1].altlogo">-->
                            <!--<img [src]="appThemeHref + client[1].logo">-->
                        <!--</a>-->
                        <a [href]="client.url" target="_blank" rel="nofollow" class="clientspartners_item">
                           <!--[alt-image]="appThemeHref + client.altlogo">-->
                            <img [src]="client.thumbnail_url">
                        </a>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div>
    <div class="join-them get_an_estimate-button">
        <div class="container container-medium">
            <p>
                Do not hesitate, <a href="#">join them!</a>
            </p>
        </div>
    </div>
</div>