<section class="case-study">
    <h1 class="case-study_heading container container-medium">Case Study</h1>
    <div class="case-study_content">
        <div class="case-study_content_bg"
             [ngStyle]="{'background-image': 'url(' + themeHref +'/assets/images/projects-bg.jpg)'}"></div>
        <div class="case-study_content_filter">
            <div class="case-study_content_filter_item active" (click)="setCategory('', 0)">
                All
            </div>
            <div class="case-study_content_filter_item" (click)="setCategory(category, i+1)"
                 *ngFor="let category of categories; let i = index">
                {{category}}
            </div>
        </div>
        <div class="container container-medium content">
            <div class="circles">
                <img [src]="themeHref+'/assets/images/elipses_case_study.png'" alt="circles" class="rotated_circles">
            </div>
            <div class="case-study_content_items">
                <div class="case-study_item" *ngFor="let project of projects | projects: activeCategory">
                    <div class="case-study_item_bg"
                         [ngStyle]="{'background-image': 'url('+project.thumbnail_url+')'}">
                    </div>
                    <div class="case-study_item_content">
                        <h3 class="case-study_item_heading">
                            {{project.post_title}}
                        </h3>
                        <div class="case-study_item_technologies">
                            <div class="technologie" *ngFor="let technologie of project.custome_fields.technologies; let i=index">
                                <span *ngIf="i > 0">&nbsp;&nbsp;</span>{{technologie.technology_name}}<span
                                    *ngIf="(i + 1)  < project.custome_fields.technologies.length">,</span>
                            </div>
                        </div>
                        <!--<p class="case-study_item_description">-->
                        <!--{{project.description}}-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
            <!--<div class="go-toButton">-->
                <!--<a class="button common">-->
                    <!--<span>-->
                        <!--Go to all projects-->
                    <!--</span>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>
