.google_map{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  right:0;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index:-1;
}
agm-map {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}