@import "media";

$font-stack: gilroy, sans-serif;
$primary-color: #081536;
html {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: auto;
  font: 100% $font-stack;
  overflow-x: hidden;
  color: $primary-color;
  background-color: #fff;
}


body.scroll-lock{
  overflow: hidden;
}
.body-elements.scroll-lock{
  z-index: -1;
  overflow: hidden;
}
.container {
  width: 100%;
  height: auto;
  max-width: 1813px;
  margin: auto;
  @include media($desktop_medium) {
    width: 95%;
  }
  &-medium {
    max-width: 1560px;
  }
  &-small {
    max-width: 1482px;
  }
  &-half{
    width: 100%;
    &-medium{
      max-width: 780px;
      @include media($desktop_middle){
        max-width: 592px;
      }
    }
    &-small{
      max-width: 741px;
    }
  }
}


.button,
button {
  position: relative;
  cursor: pointer;
  border: none;
  box-sizing: inherit;
  padding:0;
  margin: 25px 0;
  outline: none;
  border-radius: 30px;
  background-color: transparent;
  font-size: 1.333rem;
  box-shadow: 0px 1px 12.09px 0.91px rgba(26, 29, 80, 0.13);
  span {
    position: relative;
    z-index: 4;
    line-height: 1;
    width: 180px;
    font-weight: 700;
    background-color: #fff;
    color: #767ff5;
    display: flex;
    padding: 18px 37px;
    border-radius: 30px;
    justify-content: center;
  }
  //&::after,
  //&::before {
  //  content: "";
  //  display: block;
  //  width: 180px;
  //  padding: 36px 48px;
  //  background-color: #fff;
  //  opacity: 0.3;
  //  position: absolute;
  //  left: 50%;
  //  transition: 0.5s ease-in-out all;
  //  top: 50%;
  //  border-radius: 50px;
  //  transform: translateX(-50%) translateY(-50%);
  //  margin: auto;
  //}
  &::after {
    transform-origin: top left;
    padding: 18px 37px;
    //background-image: linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
    //background-image: -moz-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
    //background-image: -webkit-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
    //background-image: -ms-linear-gradient(-31deg, rgb(111, 81, 254) 0%, rgb(53, 139, 251) 51%, rgb(27, 176, 244) 100%);
  }
  &:active {
    outline: none;
  }
  .fa-paper-plane {
    font-weight: 300;
  }
  &:hover {
    &::after {
      padding: 36px 48px;
    }
  }
  &.white{
    span{
      background-color: #fff;
      color: #767ff5;
    }
  }
}
.common_news-bg{
  background-image: url(../../images/news_bg.jpg);
  background-position: center;
  background-color: #f8f8ff;
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
}
.middle_circles{
  img.rotate{
    margin: auto;
    width: 100%;
    position: absolute;
    left: 5px;
    right: 0;
    top: -6px;
    bottom: 0;
    transform-origin: center;
    //transition: 24s ease all;
    animation: rotateOrbits 38s linear infinite;
  }
}
.circles{
  img{
    //transition: 24s ease all;
    width: 100%;
    animation: rotateOrbits 38s linear infinite;
  }
}
@keyframes rotateOrbits{
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}
.carousel_navigation {
  position: absolute;
  bottom: -320px;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  @include media($laptop_small) {
    bottom: -220px;
  }
  @include media($tablet_semiMedium) {
    display: none;
  }
  .right_arrow,
  .left_arrow {
    width: 16px;
    min-width: 16px;
    height: auto;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    transition: 0.1s ease all;
    margin: 0 5px;
    svg {
      fill: #6f51fe;
      width: 100%;
      height: auto;
    }
    &:hover {
      opacity: 1;
    }
  }
  .hand-of-god {
    width: 15px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -17px;
    svg {
      fill: #6f51fe;
      width: 100%;
      height: auto;
    }
  }
}
.error,
label.error{
  font-size: 1rem;
  text-transform: none;
  margin: 10px 0;
  color: #FF0000;
}

@import "common/circles";
@import "common/contact";
@import "common/container";
@import "common/nav";
@import "common/section";
@import "common/typography";