<div class="gallery">
    <img src="{{appThemeHref}}/assets/images/bacteria-wide.jpg" alt="">
    <h2> Gallery heading</h2>
    <div class="gallery_thumbs">
        <gallery-item></gallery-item>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
        <div class="gallery_thumb"></div>
    </div>
</div>
