$landscape: (orientation: landscape);
$portrait: (orientation: portrait);

$desktop_large: (max-width: 1920px);
$desktop_medium: (max-width: 1820px);
$desktop_middle: (max-width: 1640px);
$desktop: (max-width: 1450px);
$laptop: (max-width: 1350px);
$laptop_small: (max-width: 1250px);
$netbook: (max-width: 1150px);
$tablet: (max-width: 850px);
$tablet_medium: (max-width: 770px);
$tablet_semiMedium: (max-width: 650px); //TODO remove when view will be optimized (i know it sounds wierd)
$tablet_small: (max-width: 550px);
$phone: (max-width: 460px);
$phone_small: (max-width: 410px);
$realy_small: (max-width: 360px);

$ms:screen and (-ms-high-contrast: active), (-ms-high-contrast: none);

@mixin media($arg){
  @media #{$arg}{
    @content;
  }
}
