@import "../media";
.case-study{
  width: 100%;
  padding: 30px 0 0;
  position: relative;
  background-color: #fff;
  &_heading{
    font-size: 3.75rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 65px;
    @include media($tablet_semiMedium){
      font-size: 3rem;
      margin-bottom: 27px;
    }
  }
  &_content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    //background-image: -moz-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    //background-image: -webkit-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    //background-image: -ms-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    &_bg{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      left:0;
      right:0;
      top:1px;
      bottom:0;
      background-repeat:no-repeat;
      background-position: center;
      background-size:cover;
    }
    &_filter{
      position: relative;
      z-index: 3;
      background-color: rgba(255,255,255,1);
      display: flex;
      box-shadow: 1px 5px 10.23px 0.77px rgba(26, 29, 80, 0.09);
      justify-content: center;
      width: 100%;
      align-items: center;
      &_item{
        font-size: 1.333rem;
        cursor: pointer;
        font-weight: 400;
        color: #081536;
        letter-spacing: 1.4px;
        opacity: 0.5;
        position: relative;
        text-transform: capitalize;
        padding: 35px 0 27px;
        user-select: none;
        margin: 0 17.5px;
        &::after{
          content: "";
          margin: auto;
          bottom:0;
          height: 2px;
          width: 0;
          transition: 0.2s ease all;
          display: block;
          position: absolute;
          left:0;
          right:0;
          background-color: #28dff8;
          box-shadow: 0px 7px 9.3px 0.7px rgba(40, 223, 247, 0.32);
        }
        &.active{
          opacity: 1;
          &::after{
            width: 100%;
          }
        }
      }
    }
    &_items{
      display: flex;
      flex-wrap:wrap;
      position: relative;
      z-index:4;
      justify-content: center;
      //margin-bottom: 150px;
    }
  }
  .content{
    z-index:4;
    padding: 213px 0;
    position: relative;
    overflow: hidden;
    @include media($desktop){
      padding: 120px 0;
    }
    @include media($laptop_small){
      padding: 62px 0;
    }
  }
  &_item{
    min-width: 335px;
    width: calc(25% - 33px);
    margin: 0 33px 30px 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @include media($laptop_small){
      width: calc(33% - 33px);
      min-width: inherit;
      &:nth-child(2n){
        margin: 0 33px 30px 0;
      }
      &:nth-child(3n){
        margin: 0 0 30px;
      }
    }
    @include media($tablet){
      width: calc(50% - 33px);
      min-width: inherit;
      &:nth-child(2n){
        margin: 0 0 30px;
      }
      &:nth-child(3n){
        margin: 0 33px 30px 0;
      }
    }
    @include media($tablet_semiMedium){
      width: 100%;
      max-width: 320px;
      min-width: 320px;
      box-sizing: border-box;
      margin: auto;
      margin-bottom: 43px;
      &:nth-child(2n){
        margin: auto;
        margin-bottom: 43px;
      }
      &:nth-child(3n){
        margin: auto;
        margin-bottom: 43px;
      }
    }
    &:first-child{
      margin-left: 0;
      @include media($tablet_semiMedium){
        margin: auto;
        margin-bottom: 43px;
      }
    }
    &:last-child{
      margin-right:0;
      @include media($tablet_semiMedium){
        margin: auto;
        margin-bottom: 43px;
      }
    }

    &_technologies{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      //margin-bottom: 45px;
      .technologie{
        margin-bottom: 10px;
        width: auto;
        text-align: left;
        color: #f8fcff;
        opacity: 0.6;
        font-size: 1.41rem;
        font-weight: 400;
      }
    }
    &_bg{
      width: 100%;
      max-width: 336px;
      height: 273px;
      background-position: center;
      background-repeat:no-repeat;
      background-size:cover;
    }
    &_content{
      width: 100%;
      max-width: 413px;
      padding: 36px 0 0;
      box-sizing: border-box;
    }
    &_heading{
      font-size: 1.83rem;
      font-weight: 700;
      color: #f8fcff;
      margin: 0;
      line-height: 1;
      letter-spacing: 1.4px;
      margin-bottom:10px;
    }
    &_description{
      font-size: 1.166rem;
      color: #7287ad;
      line-height: 1.78rem;
    }
  }
  .go-toButton{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items:center;
    .button{
      position: relative;
      margin:  0 auto;
    }
  }
  .circles {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);
    @include media($desktop_middle){
      transform: translateX(-50%) translateY(-50%);
      width: 740px;
      height: 740px;
    }
    @include media($laptop){
      left:60%;
    }
    @include media($laptop_small){
      display: none;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &.circles_mobile{
      display: none;
      @include media($laptop_small){
        display: block;
      }
    }
  }
}

