@import "../media";
.clientspartners{
  padding-top:50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .heading{
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;
    margin-bottom: 105px;
    @include media($tablet_semiMedium){
      font-size: 3rem;
      margin-bottom: 65px;
    }
  }
  &_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-carousel{
    width: 100%;
    margin: auto;
    position: relative;
    .owl-carousel{
      width: 100%;
    }
  }
  &_item{
    width: 285px;
    height: 134px;
    box-shadow: 0 1px 37.2px 2.8px rgba(26, 29, 80, 0.04);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 19px;
    padding: 50px 66px;
    box-sizing: border-box;
    background-color: #fff;
    img{
      display: block;
      max-height: 80px;
      width: 90%;
      object-fit: contain;
    }
  }
  .join-them{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 100px;
    @include media($tablet_semiMedium){
      padding: 50px 0 60px;
    }
    p{
      font-size: 1.333rem;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      a{
        color: #6f51fe;
        text-decoration: none;
      }
    }
  }
  .owl-carousel{
    @include media($tablet_semiMedium){
      display: block;
    }
    .owl-stage{
      margin: auto;
    }
    .owl-stage-outer{
      padding: 22px 0;
    }
  }
}