@import "../media";

header-section {
  min-width: 100%;
  height: 100%;
  display: block;
  background-image: url(../../images/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media($desktop){
    padding-bottom: 120px;
  }
  @include media($laptop_small){
    height: auto;
    padding: 0;
  }
  @include media($tablet_semiMedium){
    padding-bottom:0;
  }
}
.header {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media($laptop_small){
    min-height: inherit;
    padding: 150px 0 320px;
  }
  @include media($tablet_semiMedium){
    min-height: inherit;
    padding: 170px 0;
  }
  &-bg {
    //background-image: -moz-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    //background-image: -webkit-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    //background-image: -ms-linear-gradient( -31deg, rgb(111,81,254) 0%, rgb(53,139,251) 51%, rgb(27,176,244) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    &_image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
    }
    &_floating-particles {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      max-width: 1730px;
      margin: auto;
      height: 981px;
    }
  }
  .container {
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-content {
    max-width: 450px;
    width: 50%;
    position: relative;
    z-index: 6;
    @include media($laptop_small){
      width: 100%;
      padding-left: 24px;
    }
    h1 {
      font-size: 3.75rem;
      font-weight: 700;
      margin: 0;
      line-height: 1.333;
      @include media($tablet_semiMedium){
        font-size: 3rem;
      }
    }
    p {
      font-size: 1.75rem;
      opacity: 0.7;
      margin-bottom: 45px;
      font-weight: 400;
      letter-spacing: 1.4px;
      @include media($tablet_semiMedium){
        font-size: 1.58rem;
      }
    }
    .button{
      @include media($tablet_semiMedium){
        margin-top:13px;
      }
    }
  }
  .right-content {
    width: 50%;
    min-width: 753px;
    max-width: 753px;
    position: relative;
    z-index: 6;
    @include media($laptop_small){
      display: none;
    }
    .sample {
      width: 100%;
      position: relative;
      .top_pan,
      img {
        width: 100%;
        height: auto;
      }
      .middle_pan,
      .bottom_pan {
        opacity: 0;
        position: absolute;
        bottom: 0;
        transition: 1s ease all;
        left: 0;
        margin: auto;
        -webkit-transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
        transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
      }

      .top_pan {
        opacity: 0;
        transition: 1.2s ease all;
        transition-delay: 2.5s;
        -webkit-transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -50, -50, 1);
        transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -50, -50, 1);
      }
      .middle_pan {
        transition-delay: 1.5s;
      }
      .bottom_pan {
        transition-delay: 0.5s;
      }
      .top_pan {
        position: relative;
        overflow: hidden;
        &-bg {
          width: 100%;
          height: auto;
        }
        .inner-pan {
          position: absolute;
        }
        &-menu {
          height: 99%;
          width: auto;
          left: 0;
          top: 0;
          margin: auto;
          transition: 0.8s ease all;
          transition-delay: 3.7s;
          opacity: 0;
          transform: translateX(-250px);
        }
        &-top-menu {
          width: 76.6%;
          height: auto;
          top: 0;
          right: 0;
          margin: auto;
          transition: 0.8s ease all;
          transition-delay: 4.4s;
          opacity: 0;
          transform: translateY(-120px);
          box-shadow: 0 3px 6.72px 0.28px rgba(12, 5, 63, 0.02);
        }
        .frames-wrapp{
          width: 598px;
          height: calc(100% - 64px);
          position: absolute;
          right: 0;
          bottom: 3px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          &_right-pans{
            height: auto;
            display: flex;
            width: 195px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
          }
          .inner-pan{
            position: relative;
          }
        }
        &-main-frame {
          width: 298px;
          height:372px;
          opacity: 0;
          transition: 0.8s ease all;
          transition-delay: 5.2s;
          -webkit-transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
          transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
        }
        &-sales {
          width: 195px;
          margin-bottom:20px;
          opacity: 0;
          transition: 0.8s ease all;
          transition-delay: 6s;
          -webkit-transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
          transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
        }
        &-statistics {
          width: 195px;
          opacity: 0;
          transition: 0.8s ease all;
          transition-delay: 6.8s;
          -webkit-transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
          transform: matrix3d(1, 0, 0.00, -0.0005, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, -25, -25, 1);
        }
      }
      &.make-magic {
        .top_pan,
        .middle_pan,
        .bottom_pan {
          opacity: 1;
        }
        .top_pan {
          -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, 0, 0, 1);
          &-menu {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
          &-top-menu {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          &-statistics,
          &-sales,
          &-main-frame {
            opacity: 1;
            -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 0, 0, 0, 1);
          }
        }
        .middle_pan {
          -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 12, 12, 0, 1);
          transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 12, 12, 0, 1);
        }
        .bottom_pan {
          -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 25, 25, 0, 1);
          transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.02, 0, 0, -0.02, 1, 0, 25, 25, 0, 1);
        }
      }

    }
    &.animated{
      .sample {
        .top_pan,
        .middle_pan,
        .bottom_pan {
          -webkit-transform:none;
          transform:none;
        }

        .top_pan {

          -webkit-transform:none;
          transform: none;
        }
        .top_pan {

          &-main-frame {
            -webkit-transform: none;
            transform: none;
          }
          &-sales {
            -webkit-transform: none;
            transform: none;
          }
          &-statistics {

            -webkit-transform: none;
            transform: none;
          }
        }
        &.make-magic {
          .top_pan {
            -webkit-transform:none;
            transform: none;
            &-statistics,
            &-sales,
            &-main-frame {
              -webkit-transform: none;
              transform: none;
            }
          }
          .middle_pan {
            -webkit-transform: none;
            transform: none;
          }
          .bottom_pan {
            -webkit-transform: none;
            transform: none;
          }
        }

      }
    }
  }
}

