@import "../media";
.services{
  width: 100%;
  padding: 220px 0 30px;
  position: relative;
  margin-top:-235px;
  //background-color: #f6f6ff;
  background-image: url(../../images/services-bg.png);
  background-position: top center;
  background-size:cover;
  @include media($tablet_semiMedium){
    background-image: url(../../images/services_mobile-bg.png);
  }
  @include media($tablet_semiMedium){
    margin-top: 0;
    padding: 70px 0 30px;
  }
  .top_vawe{
    position: absolute;
    display: none;
    top:0;
    width: 100%;
    height: 0;
    left:0;
    svg{
      position: absolute;
      fill: #f6f6ff;
      width: 100%;
      height: auto;
      left:0;
      bottom:-2px;
      margin: auto;
    }
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0;
    @include media($desktop_middle){
      align-items: flex-start;
    }
    @include media($laptop_small){
      flex-direction: column-reverse;
      padding: 35px 0 100px;
      position: relative;
    }
  }
  .circles{
    width: 1000px;
    height: 1000px;
    position: absolute;
    left:50%;
    top: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);
    @include media($desktop_middle){
      transform: translateX(-60%) translateY(-50%);
      width: 740px;
      height: 740px;
    }
    @include media($laptop){
      transform: translateX(-80%) translateY(-50%);
      left:60%;
    }
    @include media($laptop_small){
      display: none;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    @include media($tablet_semiMedium){
      display: none;
    }
    &.circles_mobile{
      display: none;
      @include media($laptop_small){
        display: block;
      }
      @include media($tablet_semiMedium){
        display: none;
      }
    }
  }
  .left-side{
    width: 65%;
    min-width: 951px;
    position: relative;
    @include media($desktop_middle){
      min-width: 970px;
    }
    @include media($laptop_small){
      min-width: inherit;
      width: 100%;
    }
    .owl-carousel .owl-stage{
      padding: 0 0 40px;
    }
    .squares{
      position: relative;
      z-index:3;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      left:60px;
      @include media($laptop){
        left: 10px;
      }
      @include media($laptop_small){
        left: 20px;
      }
      @include media($netbook){
        justify-content:center;
      }
      @include media($tablet_semiMedium){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left:0;
      }
    }
    .square{
      width: 295px;
      margin: 14px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      @include media($desktop_middle){
        &:nth-child(2){
          margin-right: 295px;
        }
      }
      @include media($laptop_small){
        height: 347px;
        width: 100%;
      }
      @include media($tablet_semiMedium){
        width: 100%;
        max-width: 308px;
        margin: 15px auto;
        &:nth-child(2){
          margin: 15px auto;
        }
      }
      &-content{
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
        display: flex;
        border-radius: 5px;
        padding: 52px 15px 61px;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
      .icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 38px;
        img{
          width: 100px;
          height: auto;
        }
      }
      .heading{
        font-size: 1.75rem;
        font-weight: 700;
        color: #021d38;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
      }
      .description{
        font-size: 1.166rem;
        font-weight: 500;
        color: #7287ad;
        line-height: 1.78;
        margin-top:0;
        margin-bottom:5px;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
  }
  .right-side{
    width: 33%;
    max-width: 490px;
    position: relative;
    @include media($desktop_middle){
      min-width: 490px;
      right: 160px;
      top: 100px;
    }
    @include media($laptop){
      min-width: 456px;
      right: 250px;
    }
    @include media($laptop_small){
      width: 100%;
      right: 0;
      max-width: 465px;
      top:0;
      margin-bottom:50px;
      padding-left: 30px;
    }
    @include media($tablet_semiMedium){
      min-width: inherit;
      max-width: inherit;
      box-sizing: border-box;
    }
    h1{
      font-size: 3.75rem;
      font-weight: 700;
      color: #081536;
      text-align: left;
      letter-spacing: -1.2px;
      margin: 0;
      margin-bottom: 45px;
      @include media($laptop_small){
        margin-bottom: 35px;
      }
    }
    p{
      font-size: 1.41rem;
      font-weight: 400;
      color: #7287ad;
      line-height: 1.71;
      letter-spacing: 1.2px;
      text-align: left;
    }
  }
  .carousel_navigation{
    bottom: -45px;
    display: none;
    @include media($laptop_small) {
      bottom: 0;
      display: flex;
      z-index:3;
    }
    @include media($tablet_semiMedium){
      display: none;
    }
  }
}

