<div class="get-an-estimate" style="display: none;">
    <div class="close_estimate">

    </div>
    <div class="container container-medium">
    <div class="middle_circles">
        <img [src]="appThemeHref+'/assets/images/news_circle.png'" alt="circles" class="rotated_circles rotate">
        <!--<circles [options]="{circles: 5, max_size: 45, min_size: 3.5, circlesColor: '#f2f2ff'}"></circles>-->
    </div>
        <form novalidate [formGroup]="myform" (ngSubmit)="submitForm()">
            <h3 class="form-heading">Get an estimate in <span>3</span> days</h3>
            <p class="form-description">
                How can we <span>help you?</span>
            </p>
            <div class="input_group">
                <label for="contactName">what is your name?</label>
                <input formControlName="name" id="contactName" type="text" name="name">
                <p class="error" *ngIf="name.errors?.required && name.dirty">*Name is required</p>
                <p class="error" *ngIf="name.errors?.minlength && name.dirty">*Name must contain at least 2 chars</p>
            </div>
            <div class="input_group">
                <label for="contactEmail">your email</label>
                <input formControlName="email" id="contactEmail" type="text" name="email">
                <p class="error" *ngIf="email.errors?.required && email.dirty">*Email is required</p>
                <p class="error" *ngIf="email.errors?.pattern && email.dirty">*The email address must contain at least the @ character</p>
            </div>
            <div class="input_group">
                <label for="contactMessage">your message</label>
                <textarea formControlName="content" id="contactMessage" type="text" name="message"></textarea>
                <p class="error" *ngIf="content.errors?.required && content.dirty">*Description is required</p>
                <p class="error" *ngIf="content.errors?.minlength && content.dirty">*Description must contain at least 8 chars</p>
            </div>
            <div class="input_group">
                <button class="button" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
