@import "../../../media";
.get_an_estimate-button{
  &.nav-button{
    width: auto;
    padding: 20px 34px;
    line-height: 1;
    font-weight: 700;
    font-size: 1.166rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 40px;
    background-color: #fff;
    color: #20aded;
  }
}
.get-an-estimate{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  right:0;
  top:0;
  display: flex;
  justify-content: center;
  align-items:center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 17px;
  z-index: 999;
  background-color: #f6f9fd;
  @include media($netbook){
    padding: 0;
  }
  .close_estimate{
    position: absolute;
    z-index: 3;
    right: 20px;
    cursor: pointer;
    top: 20px;
    width: 37px;
    height:37px;
    &::before,
    &::after{
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top:0;
      right:0;
      bottom:0;
      margin: auto;
      width: 80%;
      height: 2px;
      border-radius: 5px;
      transform-origin: center;
      background-color: #081536;
    }
    &::before{
      transform: rotate(45deg);
    }
    &::after{
      transform: rotate(-45deg);
    }
  }
  .middle_circles{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1000px;
    height: 1000px;
    max-width: 100vw;
    max-height: 100vw;
    margin: auto;
    z-index: 2;
    @include media($desktop_middle){
      width: 725px;
      height: 725px;
    }
    @include media($tablet_semiMedium){
      display: none;
    }
  }
  .container{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
  }
  form{
    width: 100%;
    max-width: 600px;
    display: flex;
    z-index:3;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form-heading{
      font-size: 3.75rem;
      font-weight: 700;
      color: #081536;
      margin: 0;
      margin-bottom: 19px;
      text-align: center;
      line-height: 1;
      letter-spacing: -0.25px;
      @include media($tablet_semiMedium){
        font-size: 3.33rem;
      }
      span{
        color: #767ff5;
      }
    }
    .form-description{
      font-size: 1.25rem;
      text-transform: uppercase;
      color: #b9c7e0;
      margin: 0;
      text-align: center;
      font-weight: 700;
      margin-bottom: 37px;
      letter-spacing: 1.4px;
      span{
        color: rgb(40, 223, 248);
        text-shadow: 0px 7px 9.3px rgba(40, 223, 247, 0.32);
      }
    }
    .input_group{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 19px;
      @include media($tablet_small){
        padding: 0 20px;
        box-sizing: border-box;
      }
      label{
        color: #081536;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.4px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      textarea,
      input{
        width: 100%;
        color: #081536;
        font-size: 1.3rem;
        max-width: 427px;
        font-weight: 500;
        line-height: 1;
        border-radius: 5px;
        background-color: #fff;
        box-sizing: border-box;
        border: none;
        outline: none;
        padding: 17px 15px;
        box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
        &:active{
          outline: none;
        }
      }
      textarea{
        resize: none;
        height: 158px;
      }
      button{
        font-weight: 700;
        color: #fff;
        background-color: #767ff5;
        width: 211px;
        padding: 18px 30px;
        box-sizing: border-box;
        border-radius: 30px;
        box-shadow: 0 1px 12.09px 0.91px rgba(26, 29, 80, 0.13);
        &::after,
        &::before{
          display: none;
        }
      }
    }
  }
}