<!--<nav class="nav" [ngClass]="{'navFixed': navFixed }">-->
    <!--<div class="nav-container">-->
        <!--<a class="logo" href="#">-->
            <!--<img *ngIf="!navFixed" src="{{themeHref}}/assets/images/logo.png" >-->
            <!--<img *ngIf="navFixed " src="{{themeHref}}/assets/images/logo_big-color.png" >-->
        <!--</a>-->
        <!--<div class="nav-items">-->
            <!--<a *ngFor="let navItem of navItems"-->
               <!--class="nav-item"-->
               <!--href="{{navItem.url}}"-->
               <!--attr.data-scrollTo="{{navItem.attr_title}}"-->
            <!--&gt;{{navItem.title}}</a>-->
            <!--<a class="get_an_estimate-button nav-button" href="#">Get an estimate</a>-->
            <!--&lt;!&ndash;<li class="nav-item"><a href="#">Get an estimate</a></li>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="nav-burger">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<!--<div class="mobile_nav">-->
    <!--<div class="mobile_menu-bg"></div>-->
    <!--<div class="top-row">-->
        <!--<a class="logo" href="#">-->
            <!--<img src="{{themeHref}}/assets/images/logo.png" >-->
        <!--</a>-->
    <!--<div class="close_menu"></div>-->
    <!--</div>-->
        <!--<div class="nav-items">-->
            <!--<a *ngFor="let navItem of navItems"-->
               <!--class="nav-item"-->
               <!--href="{{navItem.url}}"-->
               <!--attr.data-scrollTo="{{navItem.attr_title}}"-->
            <!--&gt;{{navItem.title}}</a>-->
        <!--<a class="get_an_estimate-button nav-button" href="#">Get an estimate</a>-->
        <!--&lt;!&ndash;<li class="nav-item"><a href="#">Get an estimate</a></li>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->