@import "../../../media";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: auto;
  margin: auto;
  @include media($laptop_small) {
    background-color: transparent;
    box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
    padding: 22px 0;
    position: absolute;
    .nav-item {
      color: #bcbac7;
      position: relative;
      &::after {
        content: "";
        margin: auto;
        bottom: 0;
        height: 2px;
        width: 0;
        transition: 0.2s ease all;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #28dff8;
        box-shadow: 0 7px 9.3px 0.7px rgba(40, 223, 247, 0.32);
        @include media($laptop_small){
            display: none;
        }
      }

      &.active {
        color: #211557;
        &::after {
          width: 58px;
        }
      }
    }
    .get_an_estimate-button {
      &.nav-button {
        background-color: #767ff5;
        color: #fff;
      }
    }
  }
  &-container {
    display: flex;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    @include media($laptop_small) {
      padding: 0 37px;
    }
  }
  &-burger {
    display: none;
    width: 24px;
    height: 20px;
    cursor: pointer;
    position: relative;
    @include media($laptop_small) {
      display: block;
    }
    span {
      position: absolute;
      width: 100%;
      height: 3px;
      //background-color: #767ff5;
      background-color: #fff;
      border-radius: 5px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      &:first-child {
        bottom: auto;
      }
      &:last-child {
        top: auto;
      }
    }

  }
  .logo {
    width: 100%;
    max-width: 150px;
    margin-right: auto;
    @include media($tablet_semiMedium){
      max-width: 127px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &-items {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    @include media($laptop_small) {
      display: none;
    }
  }
  &-item {
    padding: 35px 45px 33px;
    line-height: 1;
    font-size: 1.333rem;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s ease all;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
    @include media($desktop) {
      padding: 30px 30px 28px;
    }
    @include media($laptop_small){
      padding: 15px 30px 13px;
    }
    &:hover {
      //color: #20aded;
      //background-color: #fff;
      opacity: 1;
    }
  }

  &.navFixed {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 9px 37.2px 2.8px rgba(118, 127, 245, 0.09);
    .nav-burger {
      span {
        background-color: #767ff5;
        }
    }
    .nav-item {
      color: #bcbac7;
      position: relative;
      &::after {
        content: "";
        margin: auto;
        bottom: 0;
        height: 2px;
        width: 0;
        transition: 0.2s ease all;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #28dff8;
        box-shadow: 0 7px 9.3px 0.7px rgba(40, 223, 247, 0.32);
        @include media($laptop_small) {
          display: none;
        }
      }
      &.active {
        color: #211557;
        &::after {
          width: 58px;
        }
      }
    }
    .get_an_estimate-button {
      &.nav-button {
        background-color: #767ff5;
        color: #fff;
      }
    }
  }
}

.mobile_nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../assets/images/mobile_menu-bg.jpg);
  background-size: cover;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: top left;
  overflow-y: scroll;
  .top-row {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 24px 38px;
    margin-bottom: 60px;
    .logo {
      width: 130px;
      @include media($tablet_semiMedium){
        max-width: 127px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .close_menu{
      width: 25px;
      height: 25px;
      position: relative;
      cursor: pointer;
      &::before,
      &::after{
        content: "";
        position: absolute;
        top:0;
        bottom:0;
        width: 100%;
        height: 3px;
        border-radius: 15px;
        background-color: #fff;
        transform-origin: center;
        margin: auto;
        left:0;
        right:0;
      }
      &::before{
        transform: rotate(45deg);
      }
      &::after{
        transform: rotate(-45deg);
      }
    }
  }
  .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 70px;
    @include media($laptop_small) {
      display: flex;
    }
    .nav-item{
      font-size: 1.583rem;
      margin-bottom: 7px;
    }
  }
  .get_an_estimate-button {
    margin-top: 35px;
  }
}